.board--main--button--group {
  text-align: right;
}

.board--main--li {
  list-style: none
}

table {
  width: 100%;
}

.mat-elevation-z8 {
  margin-top: 3px;
}

.fab {
  background-color: white;
  color: black;
}

.board--table {
  text-align: center;
}

.board--table--ul {
  padding-bottom: 15px;
}

.board--table--ul li{
  display: inline;
}

.page--number {
  padding: 0 10px;
}

.page--number--element {
  padding: 0 1px;
}

.active {
  background-color: black;
  color: white;
}

.disabled {
  cursor: not-allowed;
}

.page--navigate {
  padding: 0 1px;
}
