<mat-card class="example--card">
  <div class="register--main--title">
    <mat-card-header>
      <mat-card-title>{{registermenus.SIGN_UP_TITLE}}</mat-card-title>
    </mat-card-header>
  </div>
  <div class="register--language--button">
    <mat-form-field class="login--language--button--form">
      <mat-label>Select language</mat-label>
      <mat-select name="languages">
        <mat-option *ngFor="let language of languages" [value]="language.value" (click)="sendLocale(language.value)">
          {{language.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="register--main--input">
    <mat-card-content>
      <form class="example-form" [formGroup]="userForm">
        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="{{registermenus.SIGN_UP_ID}}" formControlName="username">
          <mat-hint>{{registermenus.WARNING_CONTENT}}</mat-hint>
          <mat-error>{{registermenus.MEMBER_DUPLICATED_ID}}</mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{registermenus.SIGN_UP_PASSWORD}}" type="password" formControlName="password">
          <mat-hint>{{registermenus.WARNING_CONTENT}}</mat-hint>
          <mat-error>{{registermenus.PASSWORD_INVALID}}</mat-error>

        </mat-form-field>
        <br/>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{registermenus.SIGN_UP_PASSWORD_CONFIRM}}" type="password" formControlName="verifyPassword"
                 [errorStateMatcher]="errorMatcher">
          <mat-hint>{{registermenus.WARNING_CONTENT}}</mat-hint>
          <mat-error *ngIf="userForm.hasError('passwordsDoNotMatch')">{{registermenus.WARNING_COLLECT}}</mat-error>
        </mat-form-field>
        <br/>
      </form>
    </mat-card-content>
  </div>
  <div class="register--main--button">
    <mat-card-actions>
      <button mat-raised-button routerLink="/login">{{registermenus.BUTTON_CANCEL}}</button>
      <button mat-raised-button routerLink="/login">{{registermenus.BUTTON_SAVE}}</button>
    </mat-card-actions>
  </div>
</mat-card>
