<mat-card class="example--card">
  <mat-card-header>
    <mat-card-title> Sign Up </mat-card-title>
  </mat-card-header>
  <div class="register--language--button">
    <button mat-raised-button [matMenuTriggerFor]="menu" >Language</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item >한글</button>
      <button mat-menu-item >English</button>
    </mat-menu>
  </div>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Login" #loginid value="">
      </mat-form-field>
      <br/>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" #loginpassword value="">
      </mat-form-field>
      <br/>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password Confirm" #loginpasswordconfirm value="">
      </mat-form-field>
      <br/>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/login">Cancel</button>
    <button mat-button routerLink="/login">Save</button>
  </mat-card-actions>
</mat-card>
