.main--header {
  background-color: gray;
  height: 8%;
  margin: 0; padding: 0px;
  list-style: none;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.main--header a {
  text-decoration: none;
}

.main--header a:visited {
  test-decoration: none;
}

.main--body {
  background-color: gray;
  height: 88%;
  width: 85%;
  margin: 0 auto;
}
