<div *ngIf="board">
  <h2>{{board?.subject | uppercase}} Edit</h2>
  <div><span>id: </span>{{board?.id}}</div>
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div>
      <label>subject: <input [(ngModel)]="board.subject" name="board.subject" placeholder="subject" #board.subject="ngModel" minlength="3" required/> </label>
    </div>
    <div>
      <label>message: </label><br/>
      <mat-form-field class="example-full-width">
        <textarea matInput [(ngModel)]="board.message" name="message" #message="ngModel" minlength="5" required></textarea>
      </mat-form-field><br/>
    </div>
    <button>저장</button>
    <button routerLink="/board">뒤로가기</button>
  </form>
</div>
