<div class="login--main">
  <mat-card class="card">
    <div class="example--card">
      <div class="login--main---title">
        <mat-card-header>
          <mat-card-title>{{labels.LOGIN_TITLE}}</mat-card-title>
        </mat-card-header>
      </div>
      <div class="login--language--button">
        <mat-form-field class="login--language--button--form">
          <mat-label>Select language</mat-label>
          <mat-select name="languages">
            <mat-option *ngFor="let language of languages" [value]="language.locale" (click)="sendLocale(language.locale)">
              {{language.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-card-content>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="{{labels.LOGIN_ID}}" [(ngModel)]="login.id" type="text" name="loginid">
            <mat-hint>{{labels.WARNING_CONTENT}}</mat-hint>
            <mat-error>정확하게 입력하세요.</mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="{{labels.LOGIN_PASSWORD}}" [(ngModel)]="login.password" type="password" name="loginpassword">
            <mat-hint>{{labels.WARNING_CONTENT}}</mat-hint>
            <mat-error>정확하게 입력하세요.</mat-error>
          </mat-form-field>
          <br/>
        </form>
      </mat-card-content>
      <div class="login--main--button">
        <mat-card-actions>
          <button mat-raised-button routerLink="/register">{{labels.LOGIN_REGISTER}}</button>
          <button mat-raised-button routerLink="/main/board" (click)="setToken(login)" >{{labels.LOGIN_SIGN_IN}}</button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</div>
<!-- -->
