.login--main {
  height: 100%;
  text-align: center;
}

.login--main--title {
  vertical-align:middle;
  display: inline-block;
  margin: auto;
}

.card {
  height: 400px;
  width: 300px;
  display: inline-block;
}

.example-form {
  padding-top: 100px;
}

.login--main--button {
  width: 100%;
  bottom: 0;
  position: absolute;
  margin: auto;
}

.login--language--button {
  margin-top: 20px;
  text-align: right;
}
