<div class="login--main">
  <mat-card class="card">
    <div class="example--card">
      <div class="login--main---title">
        <mat-card-header>
          <mat-card-title>{{labels.LOGIN_TITLE}}</mat-card-title>
        </mat-card-header>
      </div>
      <div class="login--language--button">
        <button mat-raised-button [matMenuTriggerFor]="menu">Language▼</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item >한글</button>
          <button mat-menu-item >English</button>
        </mat-menu>
      </div>
      <mat-card-content>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="{{labels.LOGIN_ID}}" #loginid value="">
            <mat-hint>{{labels.WARNING_CONTENT}}</mat-hint>
            <mat-error>정확하게 입력하세요.</mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="{{labels.LOGIN_PASSWORD}}" #loginpassword value="">
            <mat-hint>{{labels.WARNING_CONTENT}}</mat-hint>
            <mat-error>정확하게 입력하세요.</mat-error>
          </mat-form-field>
          <br/>
        </form>
      </mat-card-content>
      <div class="login--main--button">
        <mat-card-actions>
          <button mat-raised-button routerLink="/register">{{labels.LOGIN_REGISTER}}</button>
          <button mat-raised-button routerLink="/main/board" (click)="setLoginid(loginid.value)">{{labels.LOGIN_SIGN_IN}}</button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</div>
