<div class="main--header">
  <div class="main--header--left">
    <span class="main--header--left--button">
      <button mat-button routerLink="/main/board">{{Labels.BOARD_TITLE}}</button>
    </span>
    <mat-form-field class="login--language--button--form">
      <mat-label>Select language</mat-label>
      <mat-select name="languages">
        <mat-option *ngFor="let language of languages" [value]="language.locale" (click)="sendLocale(language.locale)">
          {{language.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="main--header--right">
    <span *ngIf="id">Hi :) {{id}} </span>
    <button mat-button routerLink="/login" class="main--header--logout">{{Labels.BOARD_LOGOUT}}</button>
  </div>
</div>
<mat-divider></mat-divider>
<div class="main--body">
  <router-outlet></router-outlet>
</div>

