<div class="main--header">
  <div class="main--header--left">
    <button mat-button routerLink="/main/board">{{Labels.BOARD_TITLE}}</button>
    <button mat-raised-button class="main--header--left--button" [matMenuTriggerFor]="menu">Language▼</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item >한글</button>
      <button mat-menu-item >English</button>
    </mat-menu>
  </div>
  <div class="main--header--right">
    <span *ngIf="id">Hi :) {{id}} </span>
    <button mat-button routerLink="/login" class="main--header--logout">{{Labels.BOARD_LOGOUT}}</button>
  </div>
</div>
<mat-divider></mat-divider>
<div class="main--body">
  <router-outlet></router-outlet>
</div>

