.main--header {
  background-color: gray;
  height: 5%;
  margin: 0; padding: 0px;
  list-style: none;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 7px;
}

.main--header a {
  text-decoration: none;
}

.main--header a:visited {
  test-decoration: none;
}

.main--body {
  padding: 10px 15px;
  height: 88%;
  width: 85%;
  margin: 0 auto;
  overflow: scroll;
}
