.main--header {
  height: 44px;
  margin: 0; padding: 0px;
  list-style: none;
  position: relative;
  width: 100%;
  padding-top: 7px;
}

.main--header a {
  text-decoration: none;
}

.main--header a:visited {
  test-decoration: none;
}

.main--header {
  display: flex;
  justify-content: space-between;
}

.main--header--left {
  padding: 0 20px;
}

.main--header--left--button {
  margin-bottom: 100px;
}

.main--header--right {
  padding-right: 40px;
}

.main--header--logout {
  margin-left: 20px;
}

.main--body {
  padding-top: 15px;
  margin-right: 100px;
  height: 88%;
  width: 100%;
}

.login--language--button--form {
  width: 135px;
  margin-left: 40px;
}
